# -----------------------------------
# AWS VARIABLES
# -----------------------------------

# Packer variables (all are required)
aws_region                      = "AWS_REGION"

# Terraform variables (all are required)
aws_ami                         = "OUTPUT_FROM_AWS_PACKER_BUILD"

# Default values:
# aws_server_instance_type      = "t2.micro"
# aws_server_count              = "3"
# aws_client_instance_type      = "t2.medium"
# aws_private_client_count      = "1"
# aws_public_client_count       = "1"

# -----------------------------------
# AZURE VARIABLES
# -----------------------------------

# Packer variables
azure_location                  = "AZURE_REGION"

# Terraform variables
azure_image_name                = "OUTPUT_FROM_AZURE_PACKER_BUILD"
# azure_resource_group_name must match the value for name_prefix
# in variables.tf
azure_resource_group_name       = "nomad-multicloud"

# Default values:
# azure_client_instance_type    = "Standard_B1s"
# azure_private_client_count    = "1"
# azure_public_client_count     = "1"

# -----------------------------------
# GCP VARIABLES
# -----------------------------------

# Packer variables
gcp_project                     = "GCP_PROJECT_ID"
gcp_region                      = "GCP_REGION"
gcp_zone                        = "GCP_ZONE"

# Terraform variables
gcp_machine_image               = "OUTPUT_FROM_GCP_PACKER_BUILD"
# gcp_client_instance_type      = "e2-micro"
# gcp_private_client_count      = "1"
# gcp_public_client_count       = "1"